.alert-fixed {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;

}

.navbar-fixed {
    /* position: fixed; */
    top: 50px;
    /* Below the alert */
    left: 0;
    width: 100%;
    z-index: 1029;
    /* Below the alert but above other elements */
    background-color: white;
    /* Set a background color to avoid transparency issues */
}

.content-wraper {
    margin-top: 120px;
    /* Space below fixed alert and navbar */
}

.bg-primary {
    border-radius: 30px;
    color: white;
}

.listitems {
    color: white;
    text-decoration: none;
    padding: 110px;
}

.ul,li {
    color: white;
}

.d-block {
    object-fit: cover;
    width: 100px;
    height: 800px;
}
.navbar {
    backdrop-filter: blur(10px); /* Apply blur effect */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Light translucent border */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}
